:root{
    --primary: navy;
    --secondary: crimson;
    --accent: yellow;
    --light: #fff;

    --link-font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label{
    display: block;
    margin-top: 5px;
}

.usersSubmit__wrapper{
    margin-right: 15px;
}

input,select{
    margin-top: 9px;
    width: 200px;
}

button{
    margin-top: 10px;
    padding: 10px 20px;
}



h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-size: 30px;
    
}

h1,p{
   text-align: center;
}

p{
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 16px;
}

td,th{
    padding: 9px;
}
.Nav{
    height: 52px;
    overflow-x: auto;
}
.Nav__Link--Active{
    border-style: dashed;
    border-width: 5px;
    border-color: var(--primary);
    padding: 15px;
}

.Nav__Link{
    color: var(--primary);
    font-size: var(--link-font-size);
    margin-right: 15px;
    
}

.Nav__Links{
    
    margin: 0;
    height: 100%;
    list-style: none;
    padding: 0;
    display: flex;
        align-items: center;
       
}

.usersSubmit__btn{
    display: flex;
    
}

.DataTable{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.Auth{
    max-width: 500px;
    margin-left: auto;

}

.Auth__Heading{
    text-align: left;
}

