
.landing-nav{
    display: flex;
    background-color: transparent;
    box-shadow: none;
    overflow-x: auto;
    height: auto;


    &__link{
        color: black;
        flex-shrink: 0;
        margin-left: 16px;
        margin-right: 16px;
        line-height: 1;
    }
}

@media screen and (min-width: 992px){
    .landing-nav {
        height: auto;
        justify-content: center;
        align-items: center;
        flex-shrink: initial;
    
        &__link{
            display: inline-block;
        }
    }
}