.login__link{
    color: map-get($map: $blue, $key: "darken-4")
}

.login__signIn{
    @include make-accent;

    &:hover{
        background-color: map-get($map: $blue, $key: "darken-4");
        color: map-get($map: $shades, $key: "white" );
    }
}

.login__layout{
    padding: 16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 992px){
    .login__layout{
        justify-content: center;
        max-width: 400px;
        margin: 0 auto;
    }

    .login__heading{
        font-size: 50px;
        text-align: center;
    }

    .login__subtitle{
        text-align: center;
    }
}