


h1 span,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arvo',serif;
    margin: 0;
    font-size: 35px;
    line-height: 1.5;
    font-weight: 400;
}

button{
    font-family: 'Arvo',serif;
    font-weight: 400;
}

p,label,input,textarea,a,span{
    font-family: 'Roboto', sans-serif;
}
td,
th {
    padding: 9px;
}

.btn-large:hover{
    @include make-accent;
}
